{% extends 'base.html' %}
{% block content %}
{% load static %}
   	<div class="cover-container d-flex h-100 mx-auto flex-column">
   		<header class="masthead mb-5 mt-1">
        <div class="inner">
          <h3 class="masthead-brand">Bueno Crepa</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link" href='#'>Κεντρική</a>
            <a class="nav-link" href='#'>Φωτογραφίες</a>
            <a class="nav-link" href='#'>Επικοινωνία</a>
            <a class="nav-link" href="{{sign_up}}">Εγγραφή</a>
          </nav>
        </div>
      </header>
      <main role="main" class="inner cover" style="height:80vh">
        <h1 class="cover-heading align-middle">Welcome to bueno</h1>
        <p class="lead align-middle">
           "dfeewcww fwrfwgwgwgew wegwegwgwgwe wegwegwegwe e ewgweghrgwr wg w" 
        </p>
        <p class="lead">
           <a href="" class="btn btn-lg btn-secondary">Μενού</a> 
        </p>
      </main>
      <footer class="mastfoot mt-auto" style="height:10vh">
        <div class="inner">
          <p>Cover template for <a href="https://www.dvsrvsrv.com/"></a>, by Kwstas kalofonos</p>
        </div>
      </footer>
	 </div>
{% endblock %}
{% block extra_js %}
   
{% endblock extra_js %}