{% extends 'base.html' %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sign_up" href="">Εγγραφή</a>
          </li>
        </ul>
      </div>
    </nav>

<div class="container-fluid content">
	<!--Sidebar for mobiles -->
	<ul class="nav justify-content-center d-md-none">
		<li class="nav-item">
			<a class="nav-link" href"#salty">Αλμυρές κρέπες</a>
		</li>
		<li class="nav-item" id="sweet3">
			<a class="nav-link" href="#sweet-section">Γλυκές κρέπες</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href"#">Σνάκ</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href"#">Ροφήματα</a>
		</li>
	</ul>
	<!--END of sidebar for mobiles -->
	<div class="row">
		<!--Sidebar for desktops and tablets -->
		<div class="col-md-2 d-none d-md-block">
			<div class="sidenav">
				<nav class="nav flex-column">
				  <a class="nav-link active" href="#">Αλμυρές κρέπες</a>
				  <a class="nav-link disabled" id="sweet2" href="#sweet-section">Γλυκές κρέπες</a>
				  <a class="nav-link disabled" href="#">Σνάκ</a>
				  <a class="nav-link disabled" href="#">Ροφήματα</a>
				</nav>
			</div>
		</div>
		<!-- END of Sidebar for desktops and tablets -->
		<div class="col-md-10">
			<!--Salty Crepes -->
			<div class="row" id="salty">
			  <div class="col-sm-6">
			  	<ul class="list-unstyled"> 
			  	{% for saltyCrepe in saltyCrepes %}
			    	<li class="media">
			    		<div class="media-body">
			    			<div class="d-flex justify-content-between align-items-center">
			    				<strong>{{ saltyCrepe.title }}</strong>
			    				<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
			    			</div>
			    			<span class="d-block desc">{{ saltyCrepe.descritpion}}</span>
			    			<span class="d-block fa fa-eur price" aria-hidden="true">{{ saltyCrepe.price}}</span>
			    		</div>
			    	</li>
			    	<hr>
			    {% endfor %}
			     </ul>
			  </div>
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for saltyCrepe2 in saltyCrepe2s %}
				  	<li class="media">
				    	<div class="media-body">
				    		<div class="d-flex justify-content-between align-items-center">
				    			<strong>{{ saltyCrepe2.title }}</strong>
				    			<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
				    		</div>
				    		<span class="d-block desc">{{ saltyCrepe2.descritpion}}</span>
				    		<span class="d-block fa fa-eur price" aria-hidden="true">{{ saltyCrepe2.price}}</span>
				    	</div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			</div>
			<!--END of Salty Crepes -->
			<hr>
			<!--Sweet Crepes -->
			<div class="row" id="sweet-section">
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for sweetCrepe in sweetCrepes %}
				    <li class="media-body">
				      <div class="media-body">
				      	<div class="d-flex justify-content-between align-items-center">
					    	<strong>{{ sweetCrepe.title }}</strong>
					    	<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
					    </div>
					    <span class="d-block desc">{{ sweetCrepe.descritpion}}</span>
					    <span class="d-block fa fa-eur price" aria-hidden="true">{{ sweetCrepe.price}}</span>
				      </div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for sweetCrepe2 in sweetCrepe2s %}
				    <li class="media-body">
				      <div class="media-body">
				      	<div class="d-flex justify-content-between align-items-center">
					    	<strong>{{ sweetCrepe2.title }}</strong>
					    	<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
					    </div>
					    <span class="d-block desc">{{ sweetCrepe2.descritpion}}</span>
					    <span class="d-block fa fa-eur price" aria-hidden="true">{{ sweetCrepe2.price}}</span>
				      </div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			</div>
			<!--END of Sweet Crepes -->
		</div>
	</div>
</div>

<!--Modal for every item  -->
	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<p class="modal-description"></p>
		      	<i class="fa fa-eur price" aria-hidden="true"></i>
		        <form>
		          <div class="form-group">
		            <label for="message-text" class="col-form-label">Σχόλια:</label>
		            <textarea class="form-control" id="message-text"></textarea>
		          </div>
		          <div class="form-group">
		          	  <label for="example-number-input" class="col-2 col-form-label">Ποσότητα</label>
					  <div class="col-10">
					    <input class="form-control" type="number" value="1" id="quantity" max="10" min="1">
					  </div>
		          </div>
		        </form>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
		        <button type="button" class="btn btn-primary">Προσθήκη στο καλάθι</button>
		      </div>
		    </div>
		  </div>
		</div>
		
<!--End of modal  -->
{% endblock %}

{% block extra_js %}
	<script>
		$( document ).ready(function() {
			$('.modalbtn').click(function(e){
				$(this).addClass('clicked');
				var title = $('.clicked').closest('.d-flex').children('strong').text();
				var desc = $('.clicked').closest('.d-flex').closest('.media-body').children('.desc').text();
				var price = $('.clicked').closest('.d-flex').closest('.media-body').children('.price').text();
				$('#exampleModal').find('.modal-title').text(title);
				$('#exampleModal').find('.modal-description').text(desc);
				$('#exampleModal').find('.price').text(price);
				$('#exampleModal').modal('show');
				$('.clicked').removeClass('clicked');
			});
			$('#exampleModal').on('hidden.bs.modal',function(e){
				$('#message-text').val('');
				$('#quantity').val('1');
			})

			$('sweet3 a').on('click', function(event) {
		      
				
		        if (this.hash !=="") {
			        event.preventDefault();

			        const hash = this.hash;

			        $('html, body').animate({
			          scrollTop: $(hash).offset().top
			        }, 800, function() {
			          window.location.hash = hash;
			        });
			      }
		      
   			 });

		});
	</script>
{% endblock %}