{% extends 'base.html' %}
{% block content %}
{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link sign_up" href="">Εγγραφή</a>
          </li>
        </ul>
      </div>
    </nav>

<div class="container-fluid content">
	<!--Sidebar for mobiles -->
	<ul class="nav justify-content-center d-lg-none d-xl-none">
		<li class="nav-item">
			<a class="nav-link" href="#salty-section">Αλμυρές κρέπες</a>
		</li>
		<li class="nav-item" id="sweet3">
			<a class="nav-link" href="#sweet-section">Γλυκές κρέπες</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href"#">Σνάκ</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href"#">Ροφήματα</a>
		</li>
	</ul>
	<!--END of sidebar for mobiles -->
	<div class="row">
		<!--Sidebar for desktops and tablets -->
		<div class="col-md-2 col-lg-2 d-none d-lg-block">
			<div class="sidenav">
				<nav class="nav flex-column">
				  <a class="nav-link active" href="#salty-section">Αλμυρές κρέπες</a>
				  <a class="nav-link disabled" id="sweet2" href="#sweet-section">Γλυκές κρέπες</a>
				  <a class="nav-link disabled" href="#">Σνάκ</a>
				  <a class="nav-link disabled" href="#">Ροφήματα</a>
				</nav>
			</div>
		</div>
		<!-- END of Sidebar for desktops and tablets -->
		<div class="col-md-9 col-lg-7">
			<!--Salty Crepes -->
			<h4>Αλμυρές κρέπες</h4>
			<a href="#" class="customCrepes" value="salt">Επελεξε εσύ τα υλικά</a>
			<div class="row" id="salty-section">
			  <div class="col-sm-6">
			  	<ul class="list-unstyled"> 
			  	{% for saltyCrepe in saltyCrepes %}
			    	<li class="media">
			    		<div class="media-body">
			    			<div class="d-flex justify-content-between align-items-center">
			    				<strong>{{ saltyCrepe.title }}</strong>
			    				<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
			    			</div>
			    			<span class="d-block desc">{{ saltyCrepe.descritpion}}</span>
			    			<span class="d-block fa fa-eur price" aria-hidden="true">{{ saltyCrepe.price}}</span>
			    		</div>
			    	</li>
			    	<hr>
			    {% endfor %}
			     </ul>
			  </div>
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for saltyCrepe2 in saltyCrepe2s %}
				  	<li class="media">
				    	<div class="media-body">
				    		<div class="d-flex justify-content-between align-items-center">
				    			<strong>{{ saltyCrepe2.title }}</strong>
				    			<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
				    		</div>
				    		<span class="d-block desc">{{ saltyCrepe2.descritpion}}</span>
				    		<span class="d-block fa fa-eur price" aria-hidden="true">{{ saltyCrepe2.price}}</span>
				    	</div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			</div>
			<!--END of Salty Crepes -->
			<hr>
			<!--Sweet Crepes -->
			<h4>Γλυκές κρέπες</h4>
			<a href="#" class="customCrepes" value="sweet">Επελεξε εσύ τα υλικά</a>
			<div class="row" id="sweet-section">
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for sweetCrepe in sweetCrepes %}
				    <li class="media-body">
				      <div class="media-body">
				      	<div class="d-flex justify-content-between align-items-center">
					    	<strong>{{ sweetCrepe.title }}</strong>
					    	<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
					    </div>
					    <span class="d-block desc">{{ sweetCrepe.descritpion}}</span>
					    <span class="d-block fa fa-eur price" aria-hidden="true">{{ sweetCrepe.price}}</span>
				      </div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			  <div class="col-sm-6">
			  	<ul class="list-unstyled">
			  	{% for sweetCrepe2 in sweetCrepe2s %}
				    <li class="media-body">
				      <div class="media-body">
				      	<div class="d-flex justify-content-between align-items-center">
					    	<strong>{{ sweetCrepe2.title }}</strong>
					    	<a href="#" class="modalbtn">Προσθήκη στο καλάθι</a>
					    </div>
					    <span class="d-block desc">{{ sweetCrepe2.descritpion}}</span>
					    <span class="d-block fa fa-eur price" aria-hidden="true">{{ sweetCrepe2.price}}</span>
				      </div>
				    </li>
				    <hr>
			    {% endfor %}
				</ul>
			  </div>
			</div>
			<!--END of Sweet Crepes -->
		</div>
		<!--Cart implementation -->
		<div class="col-md-3 col-lg-3">
			<div class="card" style="width:100%">
				<div class="card-body">
					<h5 class="card-title text-center">Η παραγγελία σου</h5>
					<ul class="list-group" id="cartList">
					</ul>
					<div class="text-center">
						<button type="button" class="btn btn-danger clear-cart" data-dismiss="modal">Καθαρισμός</button>
					</div>
				</div>
			</div>
		</div>
		<!--End of Cart implementation -->
	</div>
</div>
<!--Ajax test  -->
	<form method='POST' id="AjaxForm">{% csrf_token %}
		<button type="submit">Submit</button>
	</form>

<!-- End of Ajax test  -->

<!--Modal for every item  -->
	    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		      	<p class="modal-description"></p>
		      	<i class="fa fa-eur price" aria-hidden="true"></i>
		      	<div class="form-group fg1">
			        <label for="message-text" class="col-form-label">Σχόλια:</label>
			        <textarea class="form-control" id="message-text"></textarea>
			    </div>
			    <div class="form-group fg2">
			       	<label for="example-number-input" class="col-2 col-form-label">Ποσότητα</label>
					<div class="col-10">
						<input class="form-control" type="number" value="1" id="quantity" max="10" min="1">
					</div>
			    </div>
		    </div>
		    <div class="modal-footer">
		    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
		        <button type="button" class="btn btn-primary add_product" data-dismiss="modal">Προσθήκη στο καλάθι</button>
		    </div>
		    </div>
		  </div>
		</div>
<!--End of modal  -->

<!--Modal for custom items  -->
<div class="modal fade" id="customProductModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="custom-title"></h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
			</div>
			<div class="modal-body">
				<h5>Τυριά</h5>
				<div class="row">
					{% for cheese in cheeses %}
					<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input">
							<label class="custom-control-label">{{ cheese.title }}</label>
						</div>
					</div>
					{% endfor %}
				</div>
				<h5>Κρεατικά</h5>
				<div class="row">
					{% for meat in meats %}
					<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
						{{ meat.title }}
					</div>
					{% endfor %}
				</div>
				<h5>Λαχανικά</h5>
				<div class="row">
					{% for grocerie in groceries %}
					<div class="col-sm-12 col-md-6 col-lg-3 col-xl-3">
						{{ grocerie.title }}
					</div>
					{% endfor %}
				</div>
				<h5>Διάφορα</h5>
				<ul class="list-group list-group-flush">
					<li class="list-group-item"></li>
				</ul>
			</div>
			<div class="modal-footer">
		    	<button type="button" class="btn btn-secondary" data-dismiss="modal">Κλείσιμο</button>
		        <button type="button" class="btn btn-primary add_custom_product" data-dismiss="modal">Προσθήκη στο καλάθι</button>
		    </div>
		</div>
	</div>
</div>
<!--End of modal  -->
{% endblock %}

{% block extra_js %}
	<script src="{% static 'media_root/js/menu.js'%}"></script>
	<script src="{% static 'media_root/js/AjaxCalls.js'%}"></script>
{% endblock %}